# airflow-webserver.service
# systemd webserver unit file
# installed via daemonize script by provision_webserver

[Unit]
Description=Airflow webserver daemon
After=network.target 


[Service]
User=ubuntu
Type=simple
ExecStart=/bin/bash -c 'source /home/ubuntu/.profile; airflow webserver'
Restart=on-failure
RestartSec=5s
PrivateTmp=True


[Install]
WantedBy=multi-user.target
