# airflow-scheduler.service

[Unit]
Description=Airflow scheduler daemon
After=network.target


[Service]
User=ubuntu
Type=simple
ExecStart=/bin/bash -c 'source /home/ubuntu/.profile; airflow scheduler'
Restart=always
RestartSec=5s
PrivateTmp=True


[Install]
WantedBy=multi-user.target
