#/bin/bash

# path to ssh key for all ec2 instances
AWS_SSH_KEY='~/.ssh/dave-IAM-keypair.pem'

# efs ip address
EFS_IP='10.0.0.13'

# efs directory
EFS_PATH='/mnt/efs'

# erlang cookie path (for RabbitMQ cluster)
# /var/lib/rabbitmq/.erlang.cookie on Ubuntu
ERLANG_COOKIE_PATH='/var/lib/rabbitmq/.erlang.cookie'

# metadata database login
DATABASE='spiderweb'
DB_USER='babar'
DB_PWD='remember'

#airflow message queue login
QUEUE_HOST='watership'
QUEUE_USER='bigwig'
QUEUE_PWD='hophop'

#news queue login
NEWS_QUEUE_VHOST='watership'
NEWS_QUEUE_USER='hazel'
NEWS_QUEUE_PWD='hophop'

# metadata database ip address
# set at provision time by config/postgres
DB_IP='10.0.0.11'

# message broker ip address
# set at provision time by config/rabbit
MQ_IP='10.0.0.4'

# private ip address of first provisioned riak server
# set at provision time by config/riak_first
RIAK_PRIVATE='10.0.0.11'

# public ip address of first provisioned riak server
# set at provision time by config/riak_first
RIAK_PUBLIC='34.214.240.231'
