#/bin/bash

# path to ssh key for all ec2 instances
# set manually
AWS_SSH_KEY='~/.ssh/dave-IAM-keypair.pem'

# efs ip address
# set manually
EFS_IP='10.0.0.208'

# efs directory
# set manually
EFS_PATH='/mnt/efs'

# erlang cookie path (for RabbitMQ cluster)
# /var/lib/rabbitmq/.erlang.cookie on Ubuntu
# set manually
ERLANG_COOKIE_PATH='/var/lib/rabbitmq/.erlang.cookie'

# metadata database login
# set manually
DATABASE='spiderweb'
DB_USER='babar'
DB_PWD='remember'

# metadata database replication credentials
# set manually
REP_USER='replicator'
REP_PWD='mimesis'

# metadata database archive directory
# should be accessible by standby node
# set manually
DB_ARCHIVE='/mnt/efs/pg_archive'

# metadata database standby name
# set manually
DB_STANDBY_NAME='standby_node'

#airflow message queue login
# set manually
QUEUE_HOST='watership'
QUEUE_USER='bigwig'
QUEUE_PWD='hophop'

#news queue login
# set manually
NEWS_QUEUE_VHOST='watership'
NEWS_QUEUE_USER='hazel'
NEWS_QUEUE_PWD='hophop'

# metadata database ip address
# set at provision time by config/provision_db_first
# updated to floating ip at provision time by config/provision_db_later
DB_IP='10.0.0.25'

# public ip address of first provisioned db server
# set at provision time by config/provision_db_first
DB_PUBLIC='54.245.152.63'

# netplan yaml template filename for db master and standby
# set manually
NETPLAN_YAML='60-secondary.yaml'

# list of ip addresses of nodes in message broker cluster,
# with entries delimited by a comma followed by a space
# initialized at provision time by config/provision_db_first
# appended to at provision time by config/provision_db_later
# alternatively one could set up a load balancer,
#     point it at the queue nodes,
#     and replace this field with an IP for the load balancer
#     (before provisioning (multi)schedulers, workers, or webservers)
MQ_IP='10.0.0.9, 10.0.0.230, 10.0.0.203'

# private ip address of first provisioned riak server
# set at provision time by config/riak_first
RIAK_PRIVATE='10.0.0.86'

# public ip address of first provisioned riak server
# set at provision time by config/riak_first
RIAK_PUBLIC='54.214.87.204'
