#/bin/bash

# ssh keys for all ec2 instances
AWS_SSH_KEY=''

# efs ip address
EFS_IP=''

# efs directory
EFS_PATH=''

# metadata database login
DATABASE=''
DB_USER=''
DB_PWD=''

#airflow message queue login
QUEUE_HOST=''
QUEUE_USER=''
QUEUE_PWD=''

#news queue login
NEWS_QUEUE_VHOST=''
NEWS_QUEUE_USER=''
NEWS_QUEUE_PWD=''

# metadata database ip address
# set at provision time
DB_IP=''

# message broker ip address
# set at provision time
MQ_IP=''

# private ip address of first provisioned riak server
# set at provision time
RIAK_PRIVATE=''

# public ip address of first provisioned riak server
# set at provision time
RIAK_PUBLIC=''


